button:hover{
    background-color: rgb(21, 255, 0);
}
body{
    display: flex;
    justify-content: center;
    background-color:rgb(162, 228, 245);
    margin-top: 100px;
    margin-right: 10px;
}
input{
    height: 35px;
    width:90px;
    background-color: rgb(130, 169, 130);
}
button{
    color:black;
    font-weight: bold;
}
div{
    background-color: black;
    padding: 30px;
    border-radius: 10%;
}
input{
    border-radius: 10%;
    margin-left: 5px;
}
.to{
    background-color: orange;
}
button{
    border-radius: 40%;
}